<div {{ attributes }}>
    {# Search Bar #}
    <div class="container-fluid px-4 px-md-5 py-3">
        <div class="p-4 markdown-container background-glass mt-5" style="border-radius: .75rem">
            <fieldset class="d-flex gap-4 justify-content-end">
                <div class="input-group" style="max-width: 30%;">
                    <label class="input-group-text" for="country">
                        <twig:Core:Icon name="map-pin"/>
                    </label>
                    <select class="form-select" id="country" data-model="country">
                        <option>Recherche par pays</option>
                        {% for country in this.countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <label class="input-group-text" for="filter">
                        <twig:Core:Icon name="search"/>
                    </label>
                    <input
                            type="search"
                            id="filter"
                            data-model="debounce(500)|filter"
                            class="form-control"
                            data-action="live#emit"
                            data-live-event-param="clientCase:filter"
                    >
                </div>
                <div class="input-group" style="max-width: 50px">
                    <a
                            class="btn btn-secondary"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#client-create-modal"
                            data-action="live#emitSelf"
                            data-live-event-param="client:create:modal"
                    >
                        <twig:Core:Icon name="plus"/>
                    </a>
                </div>
            </fieldset>
        </div>
    </div>

    {% if isSuccess %}
        <div class="container-fluid px-4 px-md-5 mt-4">
            {{ component('Core:Alert', {message: message}) }}
        </div>
    {% endif %}

    {% if isLoading == false %}
    <div class="container-fluid px-4 px-md-5 my-4">
        <div class="alert alert-info">
            {{ clientId }}
        </div>
        {{ component('Client:ClientUpdate', {id: clientId}) }}
    </div>
    {% endif %}

    <div class="container-fluid px-4 px-md-5 my-4">
        <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Companie</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Vile</th>
                    <th scope="col">Pays</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {# Partner listing #}
                {% for client in this.clients %}
                    <tr>
                        <td>{{ client.companyName }}</td>
                        <td>{{ client.address1 }}</td>
                        <td>{{ client.zipcode }}</td>
                        <td>{{ client.city }}</td>
                        <td>{{ client.country.name }}</td>
                        <td>
                            <a
                                    type="button"
                                    class="btn btn-secondary"
                                    href="{{ path('app_client_contact', {'id': client.id}) }}"
                            >
                                <twig:Core:Icon name="users"/>
                            </a>
                            <button
                                    class="btn btn-secondary"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#client-update-modal"
                                    data-action="live#emitSelf"
                                    data-live-event-param="client:update:modal"
                                    data-live-id-param="{{ client.id }}"
                            >
                                <twig:Core:Icon name="edit"/>
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#client-delete-modal"
                                    data-action="live#emitSelf"
                                    data-live-event-param="client:delete:modal"
                                    data-live-id-param="{{ client.id }}"
                            >
                                <twig:Core:Icon name="trash"/>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# Modal Create #}
    {% component "Core:BootstrapModal" with {id: 'client-create-modal', size: 'modal-xl'} %}
        {% block modal_ghost %}
            <button type="button"
                    class="ghost"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
            </button>
        {% endblock %}
        {% block modal_header %}
            <h5>Création Client</h5>
            <button
                    type="button"
                    class="btn btn-modal-close ms-auto"
                    aria-label="Close"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
                <twig:Core:Icon name="x"/>
            </button>
        {% endblock %}
        {% block modal_body %}
            {% if isLoading %}
                {% include '_partial/tool/loader.html.twig' %}
            {% else %}
                {{ component('Client:ClientCreate') }}
            {% endif %}
        {% endblock %}
    {% endcomponent %}

    {# Modal Update #}
{#    {% component "Core:BootstrapModal" with {id: 'client-update-modal', size: 'modal-xl'} %}#}
{#        {% block modal_ghost %}#}
{#            <button type="button"#}
{#                    class="ghost"#}
{#                    data-action="live#emitSelf"#}
{#                    data-live-event-param="reset"#}
{#            >#}
{#            </button>#}
{#        {% endblock %}#}
{#        {% block modal_header %}#}
{#            <h5>Modification Client</h5>#}
{#            <button#}
{#                    type="button"#}
{#                    class="btn btn-modal-close ms-auto"#}
{#                    aria-label="Close"#}
{#                    data-action="live#emitSelf"#}
{#                    data-live-event-param="reset"#}
{#            >#}
{#                <twig:Core:Icon name="x"/>#}
{#            </button>#}
{#        {% endblock %}#}
{#        {% block modal_body %}#}
{#            {% if isLoading %}#}
{#                {% include '_partial/tool/loader.html.twig' %}#}
{#            {% else %}#}
{#                {% if client %}#}
{#                    <div class="d-none"></div>#}
{#                    {{ component('Client:ClientUpdate', {initialFormData: client, key: client.id}) }}#}
{#                {% endif %}#}
{#            {% endif %}#}
{#        {% endblock %}#}
{#    {% endcomponent %}#}

    {# Modal Update #}
    {% component "Core:BootstrapModal" with {id: 'client-delete-modal', size: 'modal'} %}
        {% block modal_ghost %}
            <button type="button"
                    class="ghost"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
            </button>
        {% endblock %}
        {% block modal_header %}
            <h5>Modification Client</h5>
            <button
                    type="button"
                    class="btn btn-modal-close ms-auto"
                    aria-label="Close"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
                <twig:Core:Icon name="x"/>
            </button>
        {% endblock %}
        {% block modal_body %}
            {% if isLoading %}
                {% include '_partial/tool/loader.html.twig' %}
            {% else %}
                {% if clientId %}
                    <div class="d-none"></div>
                    {{ component('Client:ClientDelete', {id: clientId}) }}
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endcomponent %}
</div>