<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'novalidate': 'novalidate',
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
    }) }}

    <h5 class="mb-3">Informations du client</h5>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.companyName) }}
        </div>
        <div class="col-6">
            {{ form_row(form.phone) }}
        </div>
        <div class="col-6">
            {{ form_row(form.siret) }}
        </div>
        <div class="col-6">
            {{ form_row(form.email) }}
        </div>
    </div>

    <h5 class="mt-4 mb-3">Adresse</h5>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.address1) }}
        </div>
        <div class="col-6">
            {{ form_row(form.city) }}
        </div>
        <div class="col-6">
            {{ form_row(form.zipcode) }}
        </div>
        <div class="col-6">
            {{ form_row(form.country) }}
        </div>
    </div>

    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-secondary {{ this.hasValidationErrors ? 'disabled' : '' }}">Valider</button>
    </div>

    {{ form_end(form, {render_rest: false}) }}
</div>