<div {{ attributes }}>
    <div class="container-fluid px-4 px-md-5 py-3">
        <div class="p-4 markdown-container background-glass mt-5" style="border-radius: .75rem">
            <fieldset class="d-flex gap-4 justify-content-end">
                <div class="input-group" style="max-width: 30%">
                    <label class="input-group-text" for="filter">
                        <twig:Core:Icon name="search"/>
                    </label>
                    <input
                            type="search"
                            id="filter"
                            data-model="debounce(500)|filter"
                            class="form-control"
                            data-action="live#emitSelf"
                            data-live-event-param="clientCase:filter"
                    >
                </div>
                <div class="input-group" style="max-width: 50px">
                    <a
                            class="btn btn-secondary"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#client-contact-create-modal"
                            data-action="live#emitSelf"
                            data-live-event-param="clientContact:create:modal"
                    >
                        <twig:Core:Icon name="plus"/>
                    </a>
                </div>
            </fieldset>
        </div>
    </div>

    {% if isSuccess %}
        <div class="container-fluid px-4 px-md-5 mt-4">
            {{ component('Core:Alert', {message: message}) }}
        </div>
    {% endif %}

    <div class="container-fluid px-4 px-md-5 my-4">
        <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for clientContact in this.clientContacts %}
                    <tr>
                        <td>{{ clientContact.firstname }}</td>
                        <td>{{ clientContact.lastname }}</td>
                        <td>{{ clientContact.phone }}</td>
                        <td>{{ clientContact.email }}</td>
                        <td>
                            <button
                                    class="btn btn-secondary"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#partner-contact-update-modal"
                                    data-action="live#emitSelf"
                                    data-live-event-param="partnerContact:update:modal"
                                    data-live-id-param="{{ clientContact.id }}"
                            >
                                <twig:Core:Icon name="edit"/>
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#partner-contact-delete-modal"
                                    data-action="live#emitSelf"
                                    data-live-event-param="partnerContact:delete:modal"
                                    data-live-id-param="{{ clientContact.id }}"
                            >
                                <twig:Core:Icon name="trash"/>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# Modal Create #}
    {% component "Core:BootstrapModal" with {id: 'client-contact-create-modal', size: 'modal-xl'} %}
        {% block modal_ghost %}
            <button type="button"
                    class="ghost"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
            </button>
        {% endblock %}
        {% block modal_header %}
            <h5>Création d'un Contact</h5>
            <button
                    type="button"
                    class="btn btn-modal-close ms-auto"
                    aria-label="Close"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
                <twig:Core:Icon name="x"/>
            </button>
        {% endblock %}
        {% block modal_body %}
            {% if isLoading %}
                {% include '_partial/tool/loader.html.twig' %}
            {% else %}
                {{ component('ClientContact:ClientContactCreate', {
                    client: client
                }) }}
            {% endif %}
        {% endblock %}
    {% endcomponent %}
</div>