<div {{ attributes }}>
    <div class="container-fluid px-4 px-md-5 py-3">
        <div class="p-4 markdown-container background-glass mt-5" style="border-radius: .75rem">
            <fieldset class="d-flex gap-4">
                <div class="input-group" style="max-width: 30%;">
                    <label class="input-group-text" for="search">
                        <twig:Core:Icon name="user"/>
                    </label>
                    <select class="form-select" id="search">
                        <option value="0">Tous les Collaborateurs</option>
                        <option value="-1">Sans Collaborateur</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="input-group-text" for="filter">
                        <twig:Core:Icon name="search"/>
                    </label>
                    <input
                            type="search"
                            id="filter"
                            data-model="debounce(500)|filter"
                            class="form-control"
                            data-action="live#emitSelf"
                            data-live-event-param="clientCase:filter"
                    >
                </div>
                <div class="input-group" style="max-width: 50px">
                    <a
                            class="btn btn-secondary"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#client-case-create-modal"
                            data-action="live#emitSelf"
                            data-live-event-param="clientCase:create:modal"
                    >
                        <twig:Core:Icon name="plus"/>
                    </a>
                </div>
            </fieldset>
        </div>
    </div>

    {% if isSuccess %}
    <div class="container-fluid px-4 px-md-5 mt-4">
        {{ component('Core:Alert', {message: message}) }}
    </div>
    {% endif %}

    <div class="container-fluid px-4 px-md-5 my-4">
        <div class="mb-5">
            <div class="p-4 markdown-container bg-body shadow-blur--rainbow">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Reference</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Vile</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for clientCase in this.clientCases %}
                        <tr>
                            <td>{{ clientCase.reference }}</td>
                            <td>{{ clientCase.projectName }}</td>
                            <td>{{ clientCase.createdAt | date('d/m/Y') }}</td>
                            <td>{{ clientCase.city }}</td>
                            <td>
                                <button
                                        class="btn btn-secondary"
                                        type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#client-case-update-modal"
                                        data-action="live#emit"
                                        data-live-event-param="clientCase:update:modal"
                                        data-live-id-param="{{ clientCase.id }}"
                                >
                                    <twig:Core:Icon name="edit"/>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if this.hasMore %}
            <button
                    data-action="live#action"
                    data-live-action-param="more"
                    class="btn btn-secondary"
            >
                Load More
            </button>
        {% endif %}
    </div>

    {# Modal Update #}
    {% component "Core:BootstrapModal" with {id: 'client-case-update-modal', size: 'modal-xl'} %}
        {% block modal_ghost %}
            <button type="button"
                    class="ghost"
                    data-action="live#emit"
                    data-live-event-param="reset"
            >
            </button>
        {% endblock %}
        {% block modal_header %}
            <h5>Modification Affaire</h5>
            <button
                    type="button"
                    class="btn btn-modal-close ms-auto"
                    aria-label="Close"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
                <twig:Core:Icon name="x"/>
            </button>
        {% endblock %}

        {% block modal_body %}
            {% if isLoading %}
                {% include '_partial/tool/loader.html.twig' %}
            {% else %}
                {% if clientCaseId %}
                    <div class="d-none"></div>
                    {{ component('ClientCase:ClientCaseUpdate', {
                        id: clientCaseId
                    }) }}
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endcomponent %}

    {#  Modal Create #}
    {% component "Core:BootstrapModal" with {id: 'client-case-create-modal', size: 'modal-xl'} %}
        {% block modal_ghost %}
            <button type="button"
                    class="ghost"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
            </button>
        {% endblock %}
        {% block modal_header %}
            <h5>Création Affaire</h5>
            <button
                    type="button"
                    class="btn btn-modal-close ms-auto"
                    aria-label="Close"
                    data-action="live#emitSelf"
                    data-live-event-param="reset"
            >
                <twig:Core:Icon name="x"/>
            </button>
        {% endblock %}
        {% block modal_body %}
            {% if isLoading %}
                {% include '_partial/tool/loader.html.twig' %}
            {% else %}
                <twig:ClientCase:ClientCaseCreate />
            {% endif %}
        {% endblock %}
    {% endcomponent %}
</div>