<div {{ attributes.defaults({
    'data-controller': 'client-case-document-form'
}) }}>

    <h5 class="mb-3">Information des documents</h5>

    {{ form_start(form) }}

    {% if form.vars.errors|length > 0 %}
        {% set errorMessages = [] %}
        {% for error in form.vars.errors %}
            <twig:Core:Alert type="danger" message="{{ error.messageTemplate }}" />
        {% endfor %}
    {% endif %}

    <div class="row document-modal-tabs">
        <div class="col-4 tab-nav">
            <div class="nav flex-column nav-pills bg-body-secondary rounded" role="tablist" aria-orientation="vertical">
                <button
                        class="nav-link active"
                        data-bs-toggle="pill"
                        data-bs-target="#tab-create-document"
                        type="button"
                        role="tab"
                        aria-selected="true"
                >
                    Ajouter un document
                </button>
                {% for document in documentData %}
                    <button
                            class="nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#tab-update-document-{{ document.id }}"
                            type="button"
                            role="tab"
                            aria-selected="false"
                    >
                        {{ document.name }}
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content">
                <twig:Document:DocumentForm
                        form="{{ form }}"
                        class="tab-pane fade show active"
                        id="tab-create-document"
                />
                {% for key, documentForm in form.documents %}
                    <twig:Document:DocumentCollectionForm
                            form="{{ documentForm }}"
                            class="tab-pane fade"
                            id="tab-update-document-{{ documentForm.vars.value.id }}"
                    />
                {% endfor %}
            </div>
            <div class="mb-3">
                <button type="submit" formnovalidate class="btn btn-secondary">
                    Valider
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>