<table class="table" data-listing-target="table">
    <thead>
    <tr>
        <th>
            <twig:SortTable routeName="app_client_index" sortName="companyName" property="{{ sort }}" direction="{{ sortDirection|lower }}">
                Companie
            </twig:SortTable>
        </th>
        <th>Adresse</th>
        <th>Code Postal</th>
        <th>Vile</th>
        <th>Pays</th>
        <th>
            <twig:SortTable routeName="app_client_index" sortName="createdAt" property="{{ sort }}" direction="{{ sortDirection|lower }}">
                Date
            </twig:SortTable>
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody data-listing-target="tableBody">
    {% for client in clients %}
        {{ include('client/_row.html.twig') }}
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(clients, null, {}, {'size': 'small', 'align': 'center'}) }}
