<tr id="client-list-item-{{ client.id }}">
    <td>{{ client.companyName }}</td>
    <td>{{ client.address1 }}</td>
    <td>{{ client.zipcode }}</td>
    <td>{{ client.city }}</td>
    <td>{{ client.country.name }}</td>
    <td>{{ client.createdAt | date('Y-m-d') }}</td>
    <td class="d-flex gap-2">
        <a
                type="button"
                class="btn btn-secondary"
                href="{{ path('app_client_contact_index', {'id': client.id}) }}"
                target="_top"
        >
            <twig:Core:Icon name="users"/>
        </a>

        <a
                class="btn btn-secondary"
                href="{{ path('app_client_update', {'id': client.id}) }}"
                data-turbo-frame="modal"
        >
            <twig:Core:Icon name="edit"/>
        </a>
        <twig:Core:Dialog size="w-25">
            <twig:block name="trigger">
                <button class="btn btn-secondary" data-action="dialog#open">
                    <twig:Core:Icon name="trash"/>
                </button>
            </twig:block>
            <twig:block name="dialog_title">
                <h1 class="modal-title fs-5">Supprimer un client</h1>
            </twig:block>
            <p class="mb-4">
                Vous êtes sur le point de supprimer le client
                <span class="fw-bold">{{ client.companyName }}</span>.
                Toutes les données et associations avec ce client seront perdu.
            </p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-secondary" data-action="dialog#close">
                    Annuler
                </button>
                {{ include('client/_delete_form.html.twig') }}
            </div>
        </twig:Core:Dialog>
    </td>
</tr>