<table class="table table-striped">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Objet</th>
            <th>Nombre d'avis</th>
            <th>Validation</th>
            <th>Envoi</th>
            <th>Créé par</th>
            <th>Validé par</th>
            <th>Statut</th>
            <th>Livrable / édition</th>
        </tr>
    </thead>
    <tbody>
    {% for report in groupedReports['construction'] %}
        <tr>
            <td>{{ report.reference }}</td>
            <td>reviews->ReviewGroup->name</td>
            <td>-</td>
            <td>
                {% if report.validatedAt is not null %}
                    {{ report.validatedAt | date('d/m/Y') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>-</td>
            <td>{{ report.createdBy.trigram }}</td>
            <td>-</td>
            <td>{{ report.reportStatus.name }}</td>
            <td>
                {% if report.draft == true %}
                <button class="btn btn-secondary">
                    <twig:Core:Icon name="eye"/>
                </button>

                <button class="btn btn-secondary">
                    <twig:Core:Icon name="trash"/>
                </button>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="9" class="text-center">Aucun livrable en phrase de travaux</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="d-flex gap-1 justify-content-end mt-3">
    <form
            method="post"
            action="{{ path('app_report_create', {'id': clientCase.id, 'reportType': 1}) }}"
    >
        <button class="btn btn-secondary">Créer AD</button>
    </form>

    <form
            method="post"
            action="{{ path('app_report_create', {'id': clientCase.id, 'reportType': 2}) }}"
    >
        <button class="btn btn-secondary">Créer FCE</button>
    </form>

    <button class="btn btn-secondary">
        Créer SAv
    </button>
</div>