{% extends 'base.html.twig' %}

{% block title %}Affaires{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('client_case_show') }}{% endblock %}
{% endblock %}

{% block body %}
    <main>
        <div class="hero">
            <div class="container-fluid pt-4 px-4 px-md-5 my-5">
                <div class="text-center">
                    <p class="eyebrows">DEMOS / Live Component</p>
                    <h1 class="text-center">
                        Client Case
                    </h1>
                    <div class="intro mt-4">
                        <p>
                            Handle a classic CRUD with LiveComponent, AssetMapper, Stimulus and Turbo
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {{ component('Core:Breadcrumbs', {
                items: [
                    {
                        'label': 'Dashboard',
                        'url': path('app_home')
                    },
                    {
                        'label': 'Affaires',
                        'url': path('app_client_case_index')
                    },
                    {
                        'text': clientCase.reference
                    }
                ]
            }) }}
        </div>

        <div class="container-fluid px-4 px-md-5 py-3">
            {# ClientCase Card #}
            <div class="card client-case-card bg-transparent border-secondary-subtle card-bg text-white mb-3">
                <div class="card-body">
                    <div class="row">

                        {# ClientCase Card - Left side #}
                        <div class="col-12 col-md-6 pb-2 mb-1 pb-md-0 mb-md-0 custom-border">
                            <div class="row h-100">
                                <div class="col-12 col-md-6 d-flex flex-md-column justify-content-between">
                                    <div class="h4 name">
                                        {{ clientCase.projectName }}
                                    </div>
                                    <div class="mb-3 mb-md-0">
                                        <button
                                                class="btn btn-secondary"
                                                type="button"
                                        >
                                            <twig:Core:Icon name="list"/> Récapitulatif
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 text-end">
                                    <div class="d-flex flex-row flex-md-column">
                                        <ul class="items list-unstyled">
                                            {% for mission in clientCase.missions %}
                                                <li class="d-inline-block item item-sm text-center">{{ mission.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# ClientCase Card - Right side #}
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3 mb-md-0">
                                    <div>{{ clientCase.projectName }}</div>
                                    <div>REF : #{{ clientCase.reference }}</div>
                                    <div>Client : <span class="fw-bold">{{ clientCase.client.companyName }}</span></div>
                                    <div>Client Contact(s) :</div>
                                    <div>
                                        <ul class="items list-unstyled">
                                            {% for clientContact in clientCase.clientContacts %}
                                                <li class="d-inline-block item">{{ clientContact.firstname ~ ' ' ~ clientContact.lastname }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="fw-bold">Adresse du chantier :</div>
                                    <div>{{ clientCase.address1 }}</div>
                                    <div>{{ clientCase.zipcode ~ ' ' ~  clientCase.city}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {# Document Card #}
                <section class="col-6 document">
                    <div class="card bg-transparent card-bg h-100">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between mb-3">
                                <span class="fw-bold">Documents</span>
                                <div>
                                    <a
                                            class="btn btn-secondary btn-sm"
                                            href="{{ path('app_client_case_document', {'id': clientCase.id}) }}"
                                            data-turbo-frame="modal"
                                    >
                                        <twig:Core:Icon name="plus"/> Gérer les documents
                                    </a>
                                </div>
                            </div>
                            <div class="row tabs" id="document-list-tab">
                                {{ include('client_case/_list_document_tab.html.twig') }}
                            </div>
                        </div>
                    </div>
                </section>

                {# Partner #}
                <section class="col-6 partner">
                    <div class="card bg-transparent card-bg">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between mb-3">
                                <span class="fw-bold">Partenaires</span>
                                <div>
                                    <a
                                            class="btn btn-secondary btn-sm"
                                            href="{{ path('app_client_case_partner', {'id': clientCase.id}) }}"
                                            data-turbo-frame="dialog"
                                    >
                                        <twig:Core:Icon name="plus"/>
                                        Gérer les partenaires
                                    </a>
                                </div>
                            </div>
                            <div class="row tabs" id="partner-list-tab">
                                {{ include('client_case/_list_partner_tab.html.twig') }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="row">
                <section class="col-12 mt-3 report">
                    <div class="card bg-transparent card-bg">
                        <div class="card-body">
                            {# Tabs Reports #}
                            <ul class="nav nav-tabs" id="report-tab" role="tablist">
                                {% for status in clientCaseStatus %}
                                    <li class="nav-item col-4" role="presentation">
                                        <button
                                                class="nav-link w-100{% if status.id == clientCase.clientCaseStatus.id %} active{% endif %}"
                                                id="status-tab-{{ status.id }}"
                                                data-bs-toggle="tab"
                                                data-bs-target="#status-{{ status.id }}"
                                                type="button"
                                                role="tab"
                                                aria-selected="true"
                                        >
                                            {{ status.name }}
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>

                            {# Tabs Reports Content #}
                            <turbo-frame
                                    id="report-list"
                                    data-controller="listing-report"
                                    data-action="turbo:submit-end->listing-report#onSubmit"
                                    data-listing-report-dialog-outlet=".dialog-report"
                            >
                                <div class="tab-content" id="report-tab-content">
                                    {% for status in clientCaseStatus %}
                                        <div
                                                class="tab-pane fade{% if status.id == clientCase.clientCaseStatus.id %} show active{% endif%}"
                                                id="status-{{ status.id }}"
                                                role="tabpanel"
                                                aria-labelledby="report-tab"
                                        >
                                            {% include('client_case/_list_report_' ~ status.code ~ '.html.twig') %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </turbo-frame>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    {# Modal Confirm Create Report #}
    <twig:Core:Dialog size="w-25" class="dialog-report">
        <twig:block name="dialog_title">
            <h1 class="modal-title fs-5">Attention</h1>
        </twig:block>
        <p class="mb-4">
            Il existe déjà un rapport en brouillon.
            Êtes-vous sûr de vouloir créer un nouveau rapport ?
        </p>
        <div class="d-flex justify-content-between">
            <button
                    class="btn btn-secondary"
                    data-action="dialog#close"
            >
                Annuler
            </button>
            <a
                    href="#"
                    class="btn btn-secondary"
                    data-dialog-target="reportConfirm"
            >
                Créer
            </a>
        </div>
    </twig:Core:Dialog>

    {# Modal Partner Management #}
    <twig:Core:Dialog size="w-50">
        <twig:block name="dialog_title">
            <h1 class="modal-title fs-6 fw-normal" id="modal-title" data-dialog-target="title">Chargement...</h1>
        </twig:block>

        <turbo-frame
                id="dialog"
                data-dialog-target="dynamicContent"
                data-action="turbo:before-fetch-request->dialog#showLoading"
        ></turbo-frame>
        <twig:block name="loading_content">
            <div class="d-flex justify-content-center m-3 loader">
                <div class="spinner"></div>
            </div>
        </twig:block>
    </twig:Core:Dialog>
{% endblock %}