<table class="table" data-listing-target="table">
    <thead>
        <tr>
            <th scope="col">
                <twig:Core:SortTable
                        routeName="app_partner_contact_index"
                        params="{{ {'id': partner.id} }}"
                        sortName="firstname"
                        property="{{ sort }}"
                        direction="{{ sortDirection|lower }}"
                >
                    Prénom
                </twig:Core:SortTable>
            </th>
            <th scope="col">
                <twig:Core:SortTable
                        routeName="app_partner_contact_index"
                        params="{{ {'id': partner.id} }}"
                        sortName="lastname"
                        property="{{ sort }}"
                        direction="{{ sortDirection|lower }}"
                >
                    Nom
                </twig:Core:SortTable>
            </th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">
                <twig:Core:SortTable
                        routeName="app_partner_contact_index"
                        params="{{ {'id': partner.id} }}"
                        sortName="createdAt"
                        property="{{ sort }}"
                        direction="{{ sortDirection|lower }}"
                >
                    Date
                </twig:Core:SortTable>
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody data-listing-target="tableBody">
    {% for contact in contacts %}
        {{ include('partner_contact/_row.html.twig') }}
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(contacts, null, {}, {'size': 'small', 'align': 'center'}) }}