<div {{ attributes.defaults({
    'class': class,
    'role': "tabpanel",
    'id': id
}) }}>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="drag-area" data-client-case-document-form-target="dropArea">
                <div class="drag-area-icon">
                    <twig:Core:Icon name="cloud-upload"/>
                </div>
                <div
                        class="drag-area-info"
                        data-client-case-document-form-target="dropAreaInfo"
                >
                    Glisser et déposer vos fichiers ici
                </div>
                {{ form_row(form.files, {
                    'attr': {
                        'data-action': 'change->client-case-document-form#onUpload',
                        'data-client-case-document-form-target': 'inputFile',
                        'hidden': 'hidden'
                    },
                }) }}
            </div>
        </div>
        <div class="col-12">
            {{ form_row(form.name, {
                'attr': {
                    'data-client-case-document-form-target': 'inputName'
                }
            }) }}
        </div>
        <div class="col-6">
            {{ form_row(form.addedAt) }}
        </div>
        <div class="col-6">
            {{ form_row(form.reference) }}
        </div>
        <div class="col-6">
            {{ form_row(form.createdBy) }}
        </div>
        <div class="col-6">
            {{ form_row(form.indice) }}
        </div>
        <div class="col-6">
            {{ form_row(form.tag) }}
        </div>
    </div>
</div>