<div {{ attributes.defaults({
    'class': class,
    'role': "tabpanel",
    'id': id,
    'data-controller': 'document'
}) }}>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="drag-area" data-document-target="dropArea">
                <div class="drag-area-icon">
                    <twig:Core:Icon name="cloud-upload"/>
                </div>
                <div class="drag-area-info" data-document-target="dropAreaInfo">Glisser et déposer vos fichiers ici</div>
                {{ form_row(form.files) }}
{#                <input#}
{#                        type="file"#}
{#                        name="multiple[]"#}
{#                        autocomplete="off"#}
{#                        multiple=""#}
{#                        id="multiple-files"#}
{#                        class="form-control"#}
{#                        data-action="change->document#onUpload"#}
{#                        data-document-target="inputFile"#}
{#                        hidden#}
{#                >#}
            </div>
        </div>
        <div class="col-12">
            {{ form_row(form.name, {
                'attr': {
                    'data-document-target': 'inputName'
                }
            }) }}
        </div>
        <div class="col-6">
            {{ form_row(form.addedAt) }}
        </div>
        <div class="col-6">
            {{ form_row(form.reference) }}
        </div>
        <div class="col-6">
            {{ form_row(form.createdBy) }}
        </div>
        <div class="col-6">
            {{ form_row(form.indice) }}
        </div>
        <div class="col-6">
            {{ form_row(form.tag) }}
        </div>
    </div>
</div>